In [1]:
# it's powerful data manipulation library
# widely used for data analysis and data cleaning
# it provides two primary data structures: Series and DataFrame
# A series is a 1D array like object while Dataframe is a 2D (rows & columns)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
## series

import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series \n", series)
print(type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
## dictionary

data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [6]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [7]:
## Dataframe
## create a dataframe from a dict of list

data={
    'Name':['Binal','Bhoomi','Riya'],
    'Age':[25,30,45],
    'city':['Banglore','New York','Florida']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age      city
0   Binal   25  Banglore
1  Bhoomi   30  New York
2    Riya   45   Florida
<class 'pandas.core.frame.DataFrame'>

In [8]:
## create a dataframe from a list of dict

data=[
    {'Name':'Binal','Age':32,'city':'Banglore'}, 
    {'Name':'Bhoomi','Age':33,'city':'New York'},
    {'Name':'Riya','Age':34,'city':'Florida'},
    {'Name':'Drashti','Age':35,'city':'Chikago'}
]
df=pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age      city
0    Binal   32  Banglore
1   Bhoomi   33  New York
2     Riya   34   Florida
3  Drashti   35   Chikago
<class 'pandas.core.frame.DataFrame'>

In [11]:
import pandas as pd

In [12]:
import os
print(os.getcwd())

/workspaces/Udemy/.vscode/Data_Analysis_With_Python

In [16]:
df=pd.read_csv("/workspaces/Udemy/.vscode/Data_Analysis_With_Python/sales_data.csv")
print(df.head())

ParserError: Error tokenizing data. C error: Expected 1 fields in line 16, saw 2