In [18]:
# SQL - structure query language is a standard language for managing and manipulating relational databases
# SQLite is a self-cointained ,serverless and zero-configuration databases engine that is widely use for embedded databases systems
# we will cover basics of SQL and SQLite including creating databases ,tables and performing various SQL operations

In [19]:
import sqlite3

In [20]:
## connect to an SQL databases
connection=sqlite3.connect('example.db')
connection

In [21]:
cursor=connection.cursor()

In [22]:
## create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## commit the changes
connection.commit()

In [23]:
cursor.execute('''
Select * from employees
''')

In [24]:
# insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Binal',22,'IT')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Bhoomi',21,'CE')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Riya',23,'BSC')
''')

## commit the changes
connection.commit()

In [25]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Binal', 34, 'IT')
(3, 'Riya', 23, 'BSC')
(4, 'Binal', 22, 'IT')
(5, 'Bhoomi', 21, 'CE')
(6, 'Riya', 23, 'BSC')

In [26]:
## update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
Where name='Binal'
''')

connection.commit()

In [27]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Binal', 34, 'IT')
(3, 'Riya', 23, 'BSC')
(4, 'Binal', 34, 'IT')
(5, 'Bhoomi', 21, 'CE')
(6, 'Riya', 23, 'BSC')

In [28]:
## delete the dta from the table
cursor.execute('''
Delete from employees
    where name='Bhoomi'
''')
connection.commit()

In [29]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Binal', 34, 'IT')
(3, 'Riya', 23, 'BSC')
(4, 'Binal', 34, 'IT')
(6, 'Riya', 23, 'BSC')

In [31]:
## working with sales data
# connection to an SQLite database
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

## create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
     )
''')

## Insert data into the sales table
sales_data=[
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North'),
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [32]:
# Query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [33]:
## close the connection
connection.close()