In [2]:
##map() fun applies a given fun to all items in an input list and return a map object

In [3]:
def square(x):
    return x*x
square(10)

100

In [4]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
# lambda with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
# map multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]
list(map(lambda x,y:x+y,numbers1,numbers2))

[5, 7, 9]

In [ ]:
# map convert  a list of strings to integers
numbers=['1','2','3','4','5']       #[1,2,3,4,5]
list(map(int,numbers))
numbers1=[1,2,3,4,5]                #['1','2','3','4','5']
list(map(str,numbers1))
text=["I", "LOVE", "PYTHON"]        #['i', 'love', 'python']
list(map(str.lower,text))

['i', 'love', 'python']

In [ ]:
def get_name(person):
    return person['name']       # return person['age']-> [22,21]
people=[
    {'name':'Binal','age':22},
    {'name':'Bhoomi','age':21}
]

list(map(get_name,people))

['Binal', 'Bhoomi']